<section class="newsletter py-5">
    <div class="row px-0 align-items-center">
        <div class="col-sm-8">
            <h1 class="fw-bold text-white">Signup to our newsletter</h1>
            <p class="text-muted">
                Get news and articles as soon as they happen at the comfort of your couch
            </p>
        </div>
        <div class="col-sm-4 text-center text-sm-end mt-3 mt-sm-0">
            <button class="btn px-4 py-2 border-white rounded-pill text-white" data-bs-toggle="modal"
            data-bs-target="#subscribeModal">
                <span class="px-3">Signup</span>
            </button>
        </div>
    </div>
</section>