{% extends 'base.html' %}

{% block content %}
<!-- banner -->
<section id="body" class="py-5 h-100">
    <div class="h-100 banner position-relative pt-5">
        <img src="{{url_for('static', filename='images/banner-image.png')}}" alt="" class="banner-image img-fluid h-100">
        <div class="overlay position-absolute top-0 bottom-0 end-0 start-0">
            <div class="position-absolute quote-details pe-4">
                <div class="row text-white align-items-center">
                    <span class="quotation-mark text-white h1"> “ </span>
                    <div class="col-sm-8">
                        <h1 class="fw-bold mb-3 mb-sm-0">
                            {{quote.quote}}
                        </h1>
                        <div class="fs-6 text-sm-end">
                            - {{quote.author}}
                        </div>
                    </div>
                    <div class="col-sm-4 text-sm-end mt-4 mt-sm-0">
                        <a href="#blogs" class="btn border-white px-4 py-2 text-white rounded-pill">
                            View blogs
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- categories -->
<section class="py-5 categories">
    <h1 class="text-center text-white pb-3">Categories</h1>
    <div class="row">
        {% for category in categories[:4] %}
        <div class="col-sm-6 mb-3">
           {% include 'partials/category-card.html' %}
        </div>
        {% endfor %}
    </div>
</section>
<!-- end categories -->
<!-- newsletter -->
{% include 'partials/newsletter.html' %}
<!-- end newsletter -->
<!-- blogs -->
<section id="blogs" class="py-5 blogs-section">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-sm-4 mb-3">
           {% include 'partials/blog-card.html' %}
        </div>
        {% endfor %}
    </div>
</section>
<!-- end blogs -->
{% include "partials/subscribe-modal.html" %}
{% endblock %}