{% extends 'base.html' %}

{% block content %}
<section class="py-5">
    <div class="row justify-content-center pt-5">
        <div class="col-md-8 pt-4 text-center">
            <p class="text-muted mb-1">
                {{blog.category.name}}<span class="px-2">.</span>{{blog.formatted_time}}
            </p>
            <h5 class="fw-bold text-white">
                {{blog.title}}
            </h5>
            <div class="d-flex mt-4">
                <div class="d-flex mx-auto">
                    <img src="{{blog.user.avatar_image}}" height="30" width="30" alt="" class="avatar rounded-circle">
                    <div class="ps-3">
                        <p class="text-white mb-1">{{blog.user.name}}</p>
                        <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <img src="{{blog.image_path}}" alt="" class="img-fluid w-100">
    </div>
    <div class="description pt-5 fs-5 content">
        {{blog.content | safe }}
    </div>
    <div class="py-5">
        <div class="row">
            <div class="col-md-7 order-2 order-md-2">
                <h2 class="text-white">
                    Comments
                </h2>
                {% for comment in blog.comments.order_by(Comment.created_at.desc()).all() %}
                    {% include "partials/comment-card.html" %}
                {% endfor %}
                {% if blog.comments.count() == 0 %}
                    <p class="pt-3 text-muted">No comments yet</p>
                {% endif %}
            </div>
            <div class="col-md-5 order-1 order-md-2 mb-5 mb-md-0">
                {% if current_user.is_authenticated %}
                <h2 class="text-center text-white">Post your comment</h2>
                <form action="{{url_for('main.save_comment', id=blog.id)}}" method="POST" class="pt-4">
                    {{commentForm.csrf_token}}
                    <textarea name="comment" class="form-control bg-transparent border-white text-white"
                        rows="4"></textarea>
                    <div class="pt-4 text-center">
                        <button class="btn border-white px-4 text-white">
                            <span class="px-3">Post</span>
                        </button>
                    </div>
                </form>
                {% else %}
                <div class="text-center">
                    <h2 class="text-center text-white mb-4">Login to post your comment</h2>

                    <a href="{{url_for('auth.index')}}" class="btn-primary px-4 py-2"><span class="px-2">Login</span></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}